/*
Component: Banner
*/


.banner {
    position: relative;
    width: 100%;
    padding-bottom: 5px;

    .banner__text {
        max-width: 100%;
        width: 468px;
        height: 394px;
        position: absolute;
        background-color: rgba(000,000,000,0.3);
        text-align: left;
        top: -2%;
        left: 6rem;
        color: white;
        padding: 100px 20px 20px 20px;
    }

    .banner__image {
        width: 100%;
        position: relative;
        bottom: 12px;
        
    }

    .banner--heading {
        width: 390px;
        height: 190px;
        font-family: $font-tertiary;
        font-size: 33px;
        font-weight: $ultrabold;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.12;
        letter-spacing: normal;
        padding-top: 7px;
    }

    .banner--paragraph {
        font-family: $font-tertiary;
        font-size: 18px;
        font-weight: $light;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.12;
        letter-spacing: normal; 
        position: relative;
        bottom: 30px;  
    }
    
}