// Colors
// ==============

// Main colors
// ===========
$color-primary:             #fff;
$color-secondary:           #000;

// S

// Link Colors
$color-link: #0000EE;
$color-link-hover: #0000EE;
$color-link-visited: #800080;
$color-link-active: #FF0000;

$color-black: #000;
$color-background: #f4f4f4;
$color-grey: #666666;
$color-greyish: #6f6f6f;

$color-main: #287b7e;
