footer
    nav#footer-nav
        ul.bare-list
            li  Follow us  
                img(src="../images/facebook/facebook-font-awesome.png", alt="Facebook logo")   
                img(src="../images/twitter/twitter-font-awesome.png", alt="Twitter logo")
                img(src="../images/linkedin/linkedin-font-awesome.png", alt="Linkedin logo")  
            li
                a(href="./index.html") Site Map
            li
                a(href="./internal.html") About us
            li
                a(href="./internal.html") Contact us
            li
                a(href="./internal.html") Privacy policy
            li
                a(href="./internal.html") Terms of use

            a(href="#" class="btn") Feedback

            