header
    nav#primary-nav
        ul.bare-list
            a(href="#")
                img(src="../images/infratec-pms_2018-10-01/infratec-pms.png", alt="INFRATEC PMS" class="infratec-logo")
            .nav-arrange
                li.about-us
                    a(href="#") About us
                        img(src="../images/expand-more-down/expand-more-material-copy.png", alt="expand more down" class="expand-down")
                li.what-we-do  
                    a(href="#") What we do
                li.project  
                    a(href="#") Project
                        img(src="../images/expand-more-up/expand-more-material.png", alt="expand more up" class="expand-up")
                li.news  
                    a(href="#") News
                li.contact-us  
                    a(href="#") Contact us

    form(action="/search")
        label(for="search")
            input(type="text" name="firstName" id="search" class="search" role="search")
            button(type="submit" class="search-icon-bar") 
                span(class="visuallyhidden") Submit
                img(src="../images/search/search-go.png" alt="search icon" class="search-go" aria-hidden="true")
                
    


         
            
