main
    section.banner
        img(src="../images/sun-rise_2018-10-01/img-1447@3x.jpg", alt="banner", class="banner__image")
        div.banner__text
            h1.banner--heading The face of energy will be very different tomorrow than what it is today.
            p.banner--paragraph Infratec's customer focused approach will ensure we remain at the cutting edge of this change.
            
            
    section.feature
        .feature__heading
            h2.heading-secondary What we do
            p Here you will find all the services we provide. 
                a(href="#") See full list of services
        .container
            .col-1-of-5
                a(href="#")
                    img(src="../images/what-we-do-infratec/whatwedo-infratec.svg", alt="what we do logo" class="image-logo")
                a(href="#" class="feature feature-title") Solar Photovoltaics
                p.paragraph Designs, supplies and installation of commercial and utility scale solar photovoltaic (PV) plants
                a(href="#" class="feature-5")
                    img(src="../images/what-we-do-arrow_2018-10-03/what-we-do-arrow.png", alt="what we do arrow" class="feature-arrow")

            .col-1-of-5
                a(href="#")
                    img(src="../images/what-we-do-infratec/whatwedo-infratec.svg", alt="what we do logo" class="image-logo")
                a(href="#" class="feature-h2 feature-title") Grid Storage
                p.paragraph Infratec can design, supply and install utility-scale battery storage systems
                a(href="#" class="feature-5")
                    img(src="../images/what-we-do-arrow_2018-10-03/what-we-do-arrow.png", alt="what we do arrow" class="feature-arrow")

            .col-1-of-5 
                a(href="#")
                    img(src="../images/what-we-do-infratec/whatwedo-infratec.svg", alt="what we do logo" class="image-logo")
                a(href="#" class="feature-3 feature-title") Mini-grids
                p.paragraph Maintain a grid-connection point with the utility main grid and will source part of their electricity needs from the main grid
                a(href="#" class="feature-5")
                    img(src="../images/what-we-do-arrow_2018-10-03/what-we-do-arrow.png", alt="what we do arrow" class="feature-arrow")

            .col-1-of-5
                a(href="#")
                    img(src="../images/what-we-do-infratec/whatwedo-infratec.svg", alt="what we do logo" class="image-logo")
                a(href="#" class="feature-h2 feature-title") Capacity Building
                p.paragraph Text about capacity building 
                a(href="#" class="feature-5")
                    img(src="../images/what-we-do-arrow_2018-10-03/what-we-do-arrow.png", alt="what we do arrow" class="feature-arrow")

            .col-1-of-5
                a(href="#")
                    img(src="../images/what-we-do-infratec/whatwedo-infratec.svg", alt="what we do logo" class="image-logo")
                a(href="#" class="feature-h2 feature-title") Solar Water Pumping
                p.paragraph Combines industrial-grade Variable Speed Drives (VSD) with Solar PV to deliver three phase power to a submersible pump.
                a(href="#" class="feature-5")
                    img(src="../images/what-we-do-arrow_2018-10-03/what-we-do-arrow.png", alt="what we do arrow" class="feature-arrow")
        button.show-more Show more 
    
    .featured-testimony
        img(src="../images/sun-rise_2018-10-03/sun-rise.jpg", alt="Large Area Solar panel", class="featured-testimony--image")
        .featured-testimony--text
            h2.featured-testimony--secondary-text "Our mission is to whatever whatever our mission is and it will appear here in this part of the page"

    //- section.latest-project
    //-     .latest-project__heading
    //-         h2.latest-projects___heading-secondary Latest Projects
            //- .funafuti
            //-     img(src="../images/img-0722_2018-10-04/img-0722.png", alt="Latest Projects") 
            //-         .latest-projects-groups
                //-         h2 Funafuti Government Rooftops PV Project, Tuvalu
                //-     img(src="../images/group-copy-3_2018-10-04/group-copy-3.png", alt="Funafuti Government")
                //-     .funafuti
                //-         h2 The New Zealand - Maluku Access to Energy Services(NZMATES) 
                //-     img(src="../images/group-copy-4_2018-10-04/group-copy-4.png", alt="Maluku Access")
                //- a(href="#") See all projects    
                //-         img(src="../images/what-we-do-arrow_2018-10-03/what-we-do-arrow.png", alt="Arrow")

        
    
    
    
    
    
    
    
    



            
        


        
