doctype html
html(lang="en")
    head
        title INFRATEC
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="../css/styles.css")
        link(rel="shortcut icon" type="image/png" href="../images/infratec-pms_2018-10-01/infratec-pms@3x.png")

    body
        include ../components/globals/_header.pug
        include ../components/index/_main.pug
        include ../components/globals/_footer.pug
        script(src="//code.jquery.com/jquery-3.3.1.min.js")
        script(src="../js/main.js")

